.carousel-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background:white !important;
  z-index: 10;
}

.carousel-child {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carousel-main-pic-wrapper {
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: center;
}

.carousel-arrows {
    width: 40px;
    height: 40px;
    margin-top: 25%;
    cursor: pointer;
}

.carousel-main-pic {
    height: auto !important;
    max-height: 75vh;
    object-fit: cover;
    cursor: pointer;
    border-radius: 16px;
    max-width: 100% !important;
    margin: 0px auto;
    top: 50%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* transform: translateY(-50%) */
    
}

.carousel-sidebar {
    vertical-align: top !important;
    width: 264px !important;
    min-width: 264px !important;
    position: relative;
    display: flex;
    flex-direction: column;
}

.carousel-x-button {
    margin-right: 30px;
    cursor: pointer;
    top: 0;
    right: 35px;
    position: absolute;
}

.carousel-x-img {
    width: 24px;
}

.carousel-pic-count {
    font-family: Avenir;
    font-weight: 500;
    padding-top: 104px !important;
    display: table-cell !important;
    vertical-align: top !important;
    width: 264px !important;
    min-width: 264px !important;
}

/* .carousel-upcoming-pics {
    position: relative !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    height: 64px !important;
    overflow: hidden !important;
}

.carousel-upcoming-item {
    width: auto !important;
    height: 48px;
    overflow: hidden;
    position: absolute;
    border-radius: 4px;
} */