.space-index-main {
    
}

.space-item-wrapper {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #e6e6e6;
    height: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0.5em;
    margin-bottom: 20px;
    border-radius: 3px;
    position: relative;
}

@media only screen and (max-width: 1100px) {
    .space-index-main {
        padding: 30px;
    }
    .space-item-wrapper {
        width: 100%;
        height: auto;
        margin: 0.5em;
        flex-direction: column;
    }

    .space-item-cost {
        position: relative;
        left: 0;
        padding-left: 15px;
    }

    .space-link {
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .main-pic {
        width: auto;
        padding-left: 15px;
    }

    .space-item-info {
        padding-right: 15px;
    }
}

.space-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.main-pic {
    width: 300px;
    height: 200px;
    border-radius: 4px;
}

.main-pic-mobile {
    width: 100%;
    height: 33.5em;
    border-radius: 6px;
} 

.space-item-info {
    padding-left: 15px;
}



.space-item-name {
    font-size: 18px;
    padding-bottom: 10px
}

.space-item-name-mobile {
    font-size: 3em;
    padding-bottom: 10px;
    font-weight: 400;
}

.space-item-amenities {
    color: gray;
    font-size: 14px;
}

.space-item-amenities-mobile {
    color: #484848;
    font-size: 1.75em;

}

.space-amenity-wrapper {
    padding-top: 10px;
    padding-bottom: 10px
}

.space-item-contact {
    padding-top: 10px;
    padding-bottom: 10px
}

.space-item-cost {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 18px;
}

.space-item-cost-mobile {
    font-size: 2em;
    font-weight: 200;
     color: #484848
}