.space-show-main-div {
    font-family: Avenir;
    font-size: 16px;
}

.space-pics {
    width: 100%;
    margin-top: 20px;
}

.space-show-main-pic {
    width: 642px;
    height: 592px;
    border: 1px solid gray;
}

.space-show-info {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-right: 24px;
    padding-left: 24px;
}

.space-show-name {
    font-size: 32px;
    font-weight: 700;
}

.space-summary {
    margin-top: 24px;
}