.space-show-main-div {
    font-family: Avenir;
    color: rgb(72, 72, 72);
    font-size: 16px;
    width: 100%;
}



.space-pics {
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
    height: 475px;
    display: flex;
    flex-direction: row;

}

.space-show-main-pic {
    width: 50%;
    overflow: hidden;
    border: 1px solid rgb(147, 140, 140);
}

.space-show-space-pics {
    width: 50%;
    display: flex;
}

.space-show-pic-column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.space-show-pic-image {
    border: 1px solid gray;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.space-info-wrapper {
    display: flex;
    
}

.space-show-info {
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-right: 24px;
    padding-left: 24px;
}

.space-show-name {
    font-size: 32px;
    font-weight: 700;
}

.space-show-city {
    padding-top: 10px;
    padding-bottom: 10px;
}

.description-wrapper {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;



}

.space-show-description {
    padding-top: 16px;
    padding-bottom: 16px;
}

.amenities-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
}

.amenities-div {
    columns: 2 auto;
}

.amenities-item {
    padding-top: 20px;
}

.num-amenities-wrapper {
    padding-top: 20px;
    cursor: pointer;
}

.num-amenities-wrapper:hover {
    cursor: pointer;
}

.num-amenities-text {
    margin: 0;
    color: #4abde9;
}

.space-summary {
    margin-top: 24px;
}

.reserve-widget-wrapper {
    margin-right: auto;
    min-width: 376px;
    padding-right: 24px;
}

@media only screen and (max-width: 500px) {
    .reserve-widget-wrapper {
        display: none !important;
    }
}

.reserve-widget {
    margin-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    border: 1px solid #e6e6e6
}

.reserve-cost {
    font-size: 22px;
    font-weight: 700;
    max-width: 30%;
}

.reserve-per-month {
    font-size: 12px;
    font-weight: 600;
}

.reserve-tour-btn {
    margin-top: 20px;
    width: 100%;
    color: white;
    background-color: #4abde9;
    font-family: inherit;
    border-radius: 4px;
    font-weight: 500;
    padding: 10px 22px;
}

.contact-info-wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 24px;
    padding-right: 24px;

    padding-top: 12px;
    border: 1px solid #e6e6e6;

}

.contact-item-top {
    padding-bottom: 12px;
}
.contact-item {
    border-top: 1px solid #e6e6e6;
    padding-top: 12px;
    padding-bottom: 12px;
}