.space-index-main {
    display: flex;
    flex-direction: row;
}

.spaces-index-spaces-wrapper {
    width: 50%;
    padding-left: 24px;
    padding-right: 24px;
}   

.space-index-map {
    width: 50%;
    height: 90vh;
    top: 10vh;
    position: sticky;

}

.space-index-main-mobile {
    padding-left: 75px;
    padding-right: 75px;
    margin-top: 50px;
}

.space-index-header {
    font-size: 22px;
    font-weight: 500;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.space-index-header-mobile {
    font-size: 3em;
    padding-bottom: 15px;
}

